/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/Assets/ExampleAssets
/Assets/Resources/Art/
/WebGL/
/Android/
/Assets/Asset Store Packages/
/Assets/Asset Store Packages/20 Ground Material Sets MAN MADE/
/Assets/Asset Store Packages/Adventure_Character/
/Assets/Asset Store Packages/BodyGuards/
/Assets/Asset Store Packages/ExampleAssets/
/Assets/Asset Store Packages/Planet Earth Free/
/Assets/Asset Store Packages/Snowflakes/
/Assets/Asset Store Packages/SpriteGlow/
/Assets/Asset Store Packages/Zombie/
/Assets/Asset Store Packages/HandyHands/
/Assets/Asset Store Packages/Art/
/Assets/Asset Store Packages/Flashbang M-84/
/Assets/Asset Store Packages/Baseball Bats/
/Assets/Asset Store Packages/Monqo Minimalist Table/
/Assets/Asset Store Packages/Flashlight/
/Assets/Asset Store Packages/SYNTech RX-7045 Knife/
/Assets/Asset Store Packages/Lowpoly_Crates/
/Assets/Asset Store Packages/TileableBricksWall/
/Assets/Asset Store Packages/Doors/
/Assets/Asset Store Packages/01_AssetStore/
/Assets/Asset Store Packages/PBR Metal Hatchet/
/Assets/Asset Store Packages/RichTextPlugin/
/Assets/Asset Store Packages/DestructibleWallGenerator/
/Assets/Asset Store Packages/DigitalKonstrukt/
/Assets/Asset Store Packages/Robot Kyle/
/Assets/Asset Store Packages/Planets/
/Assets/Asset Store Packages/Character/
/Assets/Asset Store Packages/Energy/
/Assets/Asset Store Packages/Tomerinio/
/Assets/Asset Store Packages/SciFi HandLight Free/
/Assets/Asset Store Packages/Original Wood Textures/
/Assets/Asset Store Packages/PolyWorkshop/
/Assets/Asset Store Packages/Weapons_ChamferZone/
/Assets/Asset Store Packages/RealisticGrenadesPack/
/Assets/Asset Store Packages/Gridbox Prototype Materials/
/Assets/Asset Store Packages/Omega_Weapons/
/Assets/Asset Store Packages/Free Low Poly Chess Set/
/Assets/Asset Store Packages/QuickOutline/
/Assets/Asset Store Packages/SpeedTutor - Tutorial Scene/
/Assets/Asset Store Packages/Clipboard/
/Assets/Asset Store Packages/ConsoleE/
/Assets/Asset Store Packages/UMotionEditor/
/Assets/Asset Store Packages/UMotionExamples/
/Assets/Asset Store Packages/PolyFew/
/Assets/Asset Store Packages/StylizedSkiesPack/
/Assets/Asset Store Packages/Sci-Fi UI/
/Assets/Asset Store Packages/SlimUI/
/Assets/Asset Store Packages/EasyMainMenu/
/Assets/Asset Store Packagess/Modern Minimalist Sofa/
/Assets/Asset Store Packages/VRChat/
/Assets/Asset Store Packages/HDRPFurniturePack/
/Assets/Asset Store Packages/BrokenVector/
/Assets/Asset Store Packages/Modern Furniture/
/Assets/Asset Store Packages/PlantsPackage/
/Assets/Asset Store Packagess/SDF_BasicTrainingStage/
/Assets/Resources/Models/Sophia Lillis Model/
/Assets/AssetStoreTools*

# Autogenerated VS/MD/Consulo solution and project files
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd


# Unity3D generated meta files
*.pidb.meta

# Unity3D Generated File On Crash Reports
sysinfo.txt

# Builds
*.apk
*.unitypackage