/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/Assets/ExampleAssets
/Assets/Resources/Art/
/WebGL/
/Android/
/Assets/Project/External/
/Assets/Project/External/20 Ground Material Sets MAN MADE/
/Assets/Project/External/Adventure_Character/
/Assets/Project/External/BodyGuards/
/Assets/Project/External/ExampleAssets/
/Assets/Project/External/Planet Earth Free/
/Assets/Project/External/Snowflakes/
/Assets/Project/External/SpriteGlow/
/Assets/Project/External/Zombie/
/Assets/Project/External/HandyHands/
/Assets/Project/External/Art/
/Assets/Project/External/Flashbang M-84/
/Assets/Project/External/Baseball Bats/
/Assets/Project/External/Monqo Minimalist Table/
/Assets/Project/External/Flashlight/
/Assets/Project/External/SYNTech RX-7045 Knife/
/Assets/Project/External/Lowpoly_Crates/
/Assets/Project/External/TileableBricksWall/
/Assets/Project/External/Doors/
/Assets/Project/External/01_AssetStore/
/Assets/Project/External/PBR Metal Hatchet/
/Assets/Project/External/RichTextPlugin/
/Assets/Project/External/DestructibleWallGenerator/
/Assets/Project/External/DigitalKonstrukt/
/Assets/Project/External/Robot Kyle/
/Assets/Project/External/Planets/
/Assets/Project/External/Character/
/Assets/Project/External/Energy/
/Assets/Project/External/Tomerinio/
/Assets/Project/External/SciFi HandLight Free/
/Assets/Project/External/Original Wood Textures/
/Assets/Project/External/PolyWorkshop/
/Assets/Project/External/Weapons_ChamferZone/
/Assets/Project/External/RealisticGrenadesPack/
/Assets/Project/External/Gridbox Prototype Materials/
/Assets/Project/External/Omega_Weapons/
/Assets/Project/External/Free Low Poly Chess Set/
/Assets/Project/External/QuickOutline/
/Assets/Project/External/SpeedTutor - Tutorial Scene/
/Assets/Project/External/Clipboard/
/Assets/Project/External/ConsoleE/
/Assets/Project/External/UMotionEditor/
/Assets/Project/External/UMotionExamples/
/Assets/Project/External/PolyFew/
/Assets/Project/External/StylizedSkiesPack/
/Assets/Project/External/Sci-Fi UI/
/Assets/Project/External/SlimUI/
/Assets/Project/External/EasyMainMenu/
/Assets/Project/Externals/Modern Minimalist Sofa/
/Assets/Project/External/VRChat/
/Assets/Project/External/HDRPFurniturePack/
/Assets/Project/External/BrokenVector/
/Assets/Project/External/Modern Furniture/
/Assets/Project/External/PlantsPackage/
/Assets/Project/Externals/SDF_BasicTrainingStage/
/Assets/Resources/Models/Sophia Lillis Model/
/Assets/TerrainSampleAssets
/Assets/AssetStoreTools*

# Autogenerated VS/MD/Consulo solution and project files
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd


# Unity3D generated meta files
*.pidb.meta

# Unity3D Generated File On Crash Reports
sysinfo.txt

# Builds
*.apk
*.unitypackage